<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand d-flex" (click)="home()"><h1 class="ms-2 ">Hang</h1><h6 class="mt-4 text-light">spots</h6></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item ms-5">
          <a class="nav-link active" (click)="home()">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item ms-">
          <a class="nav-link" href="#">spots</a>
        </li>


      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <!-- <button class="btn btn-success my-2 my-sm-4" type="submit" (click)="Login()">Login</button> -->
    </div>
  </div>
</nav>
