<header class=" m-5 bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      
      <div class="container col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        
        <img 
          class="img-fluid rounded-3 my-5"
          src="{{ this.spotDetails.img }}"
          alt="..."
        />
        <div class="cented">
            <h4 class="text-white">{{ this.spotDetails.Name }}</h4>
        </div>
       
      </div>
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">
            {{ this.spotDetails.Name }}
          </h1>
          <h4 class="text-white">Price :Rs {{ this.spotDetails.price }} <a>/hr</a></h4>
          <p class="lead fw-normal text-white-50 mb-4"></p>
          <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
          >
            <a class="btn btn-primary btn-lg px-4 me-sm-3" (click)="booking()">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

